button {
  border: navajowhite;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

span {
  font-weight: bold;
  margin: 0 10px;
}

li {
  margin-bottom: 10px;
}

li button {
  margin-left: 20px;
}
